@import "tailwindcss";
@import "../styles/global.css";
@import "../styles/components/header.css";
@import "../styles/components/diamond.css";
@import "../styles/components/diamond-button.css";
@import "../styles/components/summary.css";
@import "../styles/home.css";
@import "../styles/submit.css";
@import "../styles/analysis.css";
@import "../styles/results.css";
@import "../styles/testing.css";

/* .devOverlay {
  position: fixed;
  inset: 0;
  background-image: url("/skinstric-assets/home/homescreenp.png");
  background-position: top left;
  background-repeat: no-repeat;
  opacity: 0.35;
  pointer-events: none;
  z-index: 9999;
  background-size: 100% 100%;
} */
